Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://WS/" name="service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WS/" schemaLocation="Service_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="getCategory">
    <part name="parameters" element="tns:getCategory"/>
  </message>
  <message name="getCategoryResponse">
    <part name="parameters" element="tns:getCategoryResponse"/>
  </message>
  <portType name="service">
    <operation name="getUser">
      <input wsam:Action="http://WS/service/getUserRequest" message="tns:getUser"/>
      <output wsam:Action="http://WS/service/getUserResponse" message="tns:getUserResponse"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://WS/service/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://WS/service/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="getCategory">
      <input wsam:Action="http://WS/service/getCategoryRequest" message="tns:getCategory"/>
      <output wsam:Action="http://WS/service/getCategoryResponse" message="tns:getCategoryResponse"/>
    </operation>
  </portType>
  <binding name="servicePortBinding" type="tns:service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="servicePort" binding="tns:servicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

